<h1>Wybrany artykuł</h1>

<p> 
  Tytuł: <%= @article.title %><br/>
</p>

<p>
  Treść: <%= @article.description %><br/>
</p>
<%= link_to "Powrót do listy artykułów", articles_path%>
<p>
<%= link_to "Edytuj", edit_article_path(@article)%>
</p>