<h1 align="center" class="tekst">Wybrany artykuł</h1>

<p class="tekst"> 
  Tytuł: <%= @article.title %><br/>
</p>

<p class="tekst">
  Treść: <%= @article.description %><br/>
</p>
<%= link_to "Powrót do listy artykułów", articles_path%>
<p>
<%= link_to "Edytuj", edit_article_path(@article)%>
</p>