<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="background-color: green">
  <h1 style="text-align:center">Home page</h1>
  <p style="text-align:center"><%= link_to 'About', about_path %></p>
  <p style="text-align:center"><%= image_tag("badanie.png", size: "800x600", alt: "Edit Entry") %></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales lacinia quam, nec blandit felis iaculis eu. 
Proin convallis ullamcorper scelerisque. Maecenas dictum laoreet tortor, ut molestie elit aliquet vitae. 
In dignissim rhoncus consequat. Curabitur nec commodo risus. Vivamus odio justo, rutrum vel eleifend a, gravida nec lectus. 
Aliquam erat volutpat. Duis lorem nisi, tristique quis risus nec, interdum egestas enim. Ut volutpat felis ut consectetur feugiat. 
Nunc risus orci, ultrices ac erat nec, dignissim luctus velit. Mauris scelerisque neque sed purus efficitur, eu dapibus est imperdiet. 
In fringilla accumsan dui vel lobortis.

Duis ligula purus, porta ornare suscipit aliquet, tincidunt eu nunc. Praesent gravida neque vel lorem interdum ornare. 
Pellentesque imperdiet, massa vitae venenatis dictum, est nisi commodo felis, vel sollicitudin leo metus sit amet lectus. 
Mauris et sagittis enim. Vivamus varius vitae tortor id tristique. Nulla pellentesque mattis ipsum tempor sollicitudin. 
Etiam dui dolor, mollis id leo eget, fermentum ultricies urna. </p>
</body>
</html>